---
layout: base.njk 
title: Randomiser
---

<section class="pb-5">
  <div class="container text-center">
    <h1 class="title">Data pin randomiser</h1>
  </div>
</section>

<section class="pt-0">
  <div class="container text-center">
    <p class="description">Description: <span></span></p>
    <p class="color">Colour: <span></span></p>
    <p class="data-pin">Data Pin: <span></span></p>

    <button class="mt-4 btn">Randomise</button>
  </div>

</section>