<header class="page-header">
	<div class="container">
		<div class="page-header__content">
			<nav>
				<ul role="list" class="nav-list flex-group">
					<li>
						<a {% if page.fileSlug === '' %}aria-current="page"{% endif %} href="/">
							Cheat Sheet
						</a>
					</li>
					<li>
						<a {% if page.fileSlug === 'randomiser' %}aria-current="page"{% endif %} href="/randomiser/">
							Randomiser
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>